
body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

body::after {
    content: "";
    display: block;
    position: absolute;
    background: url('../img/img-back.jpg');
    opacity: 0.6;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -99;
}

.nav {
    color: white;
    min-height: 50px;
}

.img-top, .img-top2 {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.img-top img {
    width: 30%;
}

.img-top2 img {
    width: 30%;
    transform: scaleY(-1);
}

.text-top {
    text-align: center;
    font-weight: bolder;
    color: sienna;
    font-family: 'Courgette', cursive;
    overflow-y: hidden;
}

.header {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.header img {
    width: 45%;
    margin: 0;
}

.text-header {
    text-align: center;
    color: sienna;
    font-size: 14px;
    font-family: 'Grandstander', cursive;
}

.text-nama {
    text-align: center;
    color: sienna;
    font-size : 30px;
    font-family: 'Grandstander', cursive;
}

#foto-pasangan {
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid sienna;
    height: 250px;
}

#text-nama-ortu {
    font-size : 14px;
    font-family: 'Grandstander', cursive;
}

.text-undangan {
    text-align: center;
    color: sienna;
    font-size: 14px;
    border-bottom: 5px solid whitesmoke;
    font-family: 'Grandstander', cursive;
}

.countdown-maps {
    border-bottom: 5px solid whitesmoke;
}

footer {
    text-align: center;
    color: whitesmoke;
}

#countdown-ket-text {
    font-size: 16px;
    margin-top: -10px;
    font-family: 'Grandstander', cursive;
}

.countdown-text {
    align-items: center;
    justify-content: center
}

.galeri-foto {
    min-height: 675px;
    padding-bottom: 20px;
}

.galeri-foto-text {
    font-size: 40px;
    font-family: 'Grandstander', cursive;
    text-align: center;
    color: whitesmoke;
}

.galeri-foto-text img {
    height: 200px;
    width: 400px;
    object-fit: cover;
}

#image-gallery1, #image-gallery3, #image-gallery5 {
    margin-left: 150px;
}

#image-gallery2, #image-gallery4, #image-gallery6 {
    margin-right: 150px;
}

.galeri-video-text {
    font-size: 40px;
    font-family: 'Grandstander', cursive;
    text-align: center;
    color: sienna
}

.google-form {
    height: 650px;
}

.google-form iframe {
    width: 80%;
}

.footer {
    min-height: 50px;
    color: silver;
}

#bliis-logo {
    font-size: 20px;
}

#bliis-logo img {
    height: 20px;
    width: 30px;
    margin-bottom: 8px;
}

#freepik {
    font-size: 12px;
}

#freepik a {
    text-decoration: none;
    color:silver;
}

.youtube {
    position: relative; 
    padding-bottom: 56.25%;
    margin-bottom: -10%; 
    height: 0; 
    overflow: hidden;
}

.youtube iframe, .youtube object, .youtube embed { 
    position: absolute; 
    top: 11; 
    left: 11%; 
    width: 78%; 
    height: 78%; 
}

@media (max-width: 576px) { 

    html, body {
        overflow-x: hidden;
    }
    
    .img-top img {
        width: 50%;
    }
    
    .img-top2 img {
        width: 50%;
        transform: scaleY(-1);
    }

    #maps {
        margin-top: 30px;
    }

    #countdown-ket-text {
        font-size: 14px;
        margin-top: -10px;
    }
    
    .google-form iframe {
        width: 400px;
    }

    .text-and {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .galeri-video-text img {
        width: 100%;
        height: auto;
    }

    .youtube iframe, .youtube object, .youtube embed { 
        position: absolute; 
        top: 0; 
        left: 5%; 
        width: 90%; 
        height: 90%; 
    }
}

@media (max-width: 992px) { 

    .header img {
        width: 90%;
        margin: 0;
    }

    #image-gallery1, #image-gallery3, #image-gallery5 {
        margin-left: 0;
    }
    
    #image-gallery2, #image-gallery4, #image-gallery6 {
        margin-right: 0;
    }

    .youtube {
        position: relative; 
        padding-bottom: 56.25%;
        margin-bottom: -5%; 
        height: 0; 
        overflow: hidden;
    }
}